<div ng-include="'app/main/header.html'"></div>
<div>
	<section id="time-feed" class="container">
		<h3>Time Feed</h3>
		<div ng-repeat="update in getUserUpdates()">
			<div class="btn">{{update}}</div>
		</div>
	</section>
	<hr>
	<section id="friends-interest-section" class="container">
		<h3>Some hot friends interests</h3>
		<div class="row">
			<div class="col-sm-6" ng-repeat="friend in user.friends">
				<h4>{{friend.name}}</h4>
				<!-- FIXME duped portion below. make it directive -->
				<div ng-repeat="interest in friend.interests">
					{{$index + 1}}
					<div class="btn btn-primary">
						{{interest.name}}
					</div>
					{{interest.getRegistered()}}
				</div>
			</div>
		</div>
	</section>
	<hr>
	<section id="my-interest-section" class="container">
		<h3>My interests</h3>
		<div class="row">
			<ul ui-sortable="sortableOptions" class="list-unstyled" ng-model="user.interests">
				<li ng-repeat="interest in user.interests">
					{{$index + 1}}
					<div class="btn btn-primary">
						{{interest.name}}
					</div>
					{{interest.getRegistered()}}
				</li>
			</ul>
		</div>
	</section>
</div>
